//index

.b-carusel{
    background-color: rgba(0, 0, 0, 0.3);
    font-family: $main-font;
}

.txt-foto{
    color: $white;
    font-size: $fs-seis;
    padding: 0.3rem;
    font-weight: $fw-600;
}

.m-bottom{
    margin-bottom: $m-2;
}

.font-title{
    font-family: $sec-font;
    text-align: center;
    font-size: $fs-dos;
    padding: $p-1;
}

.img-size{
    height: 100vh;
    width: 100%;
}

.div-footer{
    max-width: 375px;
    text-align: center;
}

//sobre el artista
.m-cinco{
    margin: 5rem;
}
.m-slides{
    margin: 3rem;
}

main{
    font-family: $main-font;
    div{
        article{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            align-content: center;
            span{
                animation-name: artMoov-div;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-duration: 1s;
                position: relative;
            }
        }
    }
}


@keyframes artMoov-div{
    from{left: -500px;}
    to{left: 0px;}
}

.flex-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
}

.main-artist{
    height: auto;
    padding-top: $p-1;
}

.img-artist{
	width: 60%;
	max-width: 375px;
    margin-top: $m-2;
    margin-right: $m-2;
}

.span-artist{
    margin-right: 3rem;
    font-size: $fs-tres;
    font-weight: $fw-400;
    padding: $p-2;
    line-height: 2rem;
    margin-left: 6rem;
}

.art-artist{
    text-align: center;
}

.title-artist{
    color: $grey;
	margin: 0.7rem;
    text-align: center;
    font-size: $fs-cinco;
    font-weight: $fw-600;
    height: 5vh;
}

.aside-artist{
    width: auto;
    margin: $m-1;
    padding: $p-1;
    border: solid;
    border-width: 2px;
    border-radius: 15px;
}

.story-artist{
    font-weight: $fw-500;
    margin: 0 auto;
    padding-top: $p-1;
    text-align: center;
    font-size: $fs-cinco;
    line-height: 2.5rem;
}

@media only screen and (min-width: 768px){
    .main-artist{
        height: 60vh;
        padding-top: $p-1;
    }
    
    .div-artist{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .img-artist{
        width: 100%;
        max-width: 768px;
        margin-right: 5.5rem;
    }

    .aside-artist{
        width: 100%;
        height: auto;
    }

    .story-artist{
        line-height: 1.7;
        font-weight: $fw-500;
        margin: 0 auto;
        font-size: $fs-cinco;
    }

    .title-artist{
        color: $grey;
        font-size: $fs-siete;
        margin-top: $m-1;
        text-align: center;
        font-weight: $fw-600;
        height: 5vh;
    }

    .span-artist{
        margin-right: 3rem;
        font-size: $fs-tres;
        font-weight: $fw-400;
        line-height: 2rem;
        padding-top: $p-2;
    }
}

@media only screen and (min-width: 1280px){
    .main-artist{
        height: 90vh;
    }

    .img-artist{
        width: 85%;
        
        margin-top: 5rem;
    }

    .span-artist{
        margin-left: 3rem;
        font-size: $fs-ocho;
    }

    .aside-artist{
        width: 50%;
        height: 60vh;
        text-align: center;
        margin-right: 7rem;
        padding-top: 4rem;
    }

    .title-artist{
        font-size: $fs-dos;
        padding-top: $p-1;
    }

    .story-artist{
        line-height: 1.7;
        font-weight: $fw-500;
        padding: $p-2;
        font-size: $fs-cinco;
    }
}

//portfolio

.bg-nav{
    background-color: $grey;
}

.art-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.title-tr{
    color: $grey;
    font-size: $fs-ocho;
    text-align: center;
    transform: translatex(-405px);
}
main{
    div{
        margin-bottom: 2rem;
        article{
            div{
                div{
                    width: auto;
                    height: 20vh;
                    background-color: rgba(103, 107, 107, 0.2);
                    text-align: center;
                    h2{
                        color: white;
                        font-size: $fs-seis;
                        padding: 0.3rem;
                    }
                    p{
                        color: black;
                        font-size: $fs-tres;
                        font-weight: $fw-600;
                    }
                }
            }
        }
    }
}

//servicios

main{
    h1{
        font-size: $fs-ocho;
        color: $grey;
    }
    article{
        margin-left: $m-2;
        margin-right: $m-2;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        p{
            text-align: center;
            font-size: $fs-cinco;
            padding: $p-1;
            margin: 0 1rem;
        }
    }
}
.p-dos{
    padding: $p-2;
}
.serv-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.moov-card:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 1s;
}
.itemFoto{
    text-align: left;
    font-size: $fs-siete;
    font-weight: 600;
    padding: 1rem;
}
.itemParrafo{
    text-align: left;
    font-size: $fs-cinco;
    font-weight: 400;
    padding: 1rem;
    margin: 0 1rem;
}

//contacto
main{
    section{
        form{
            background-color: $white;
            border: solid;
            border-radius: 0.3rem;
            border-width: 0,5rem;
            padding: 2rem;
            margin: 3rem;
            width: 70%;
            font-size: 1.5rem;
            div{
                label{
                    color: $black;
                }
                div{
                    color: $black;
                }
            }
        }
    }
}
form{
    button{
        margin: $m-1;

    }
}

.contacto-size{
    font-size: $fs-tres;
}