//index

.b-carusel{
    background-color: rgba(56, 56, 56, 0.3);
    font-family: $main-font;
    color: #111;
}

.m-index{
    margin-top: 0;
    margin-bottom: 0;
}


.txt-foto{
    color: $white;
    font-size: $fs-cinco;
    padding: 0.3rem;
    font-weight: $fw-400;
}

.m-bottom{
    margin-bottom: $m-2;
}

.m-slides{
    margin: 3rem;
}

.m-top{
    margin-top: 10rem;
}

.font-title{
    font-family: $sec-font;
    text-align: center;
    font-size: $fs-dos;
    padding: $p-1;
}

//sobre el artista
main{
    font-family: $main-font;
    div{
        article{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            align-content: center;
            span{
                animation-name: artMoov-div;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-duration: 1s;
                position: relative;
            }
        }
    }
}
@keyframes artMoov-div{
    from{left: -500px;}
    to{left: 0px;}
}

.m-cinco{
    margin: 5rem;
}

.mtop-artist{
    margin-top: 5rem;
}

.body-artist{
    position: relative;
    padding-bottom: 30rem;
    min-height: 100vh;
}

.foot-artist{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.box-shadow{
    box-shadow: 3px 3px 10px;
}

.img-artist{
	width: 60%;
	max-width: 375px;
    padding-top: $m-2;
}

.span-artist{
    margin-right: 3rem;
    font-size: $fs-siete;
    font-weight: $fw-400;
    line-height: 2rem;
    padding: $p-2;
    margin-left: 6rem;
}

.art-artist{
    text-align: center;

}

.title-artist{
    color: $grey;
	margin: 0.7rem;
    text-align: center;
    font-size: $fs-dos;
    font-weight: $fw-600;
}

.aside-artist{
    width: auto;
    height: auto;
    margin: $m-1;
    padding: $p-1;
    border: solid;
    border-width: 2px;
    border-radius: 15px;
}

.story-artist{
    font-weight: $fw-500;
    padding: $p-2;
    text-align: center;
    font-size: $fs-siete;
    line-height: 1.5;
}

//portfolio

main{
    div{
        margin-bottom: 2rem;
        article{
            div{
                div{
                    width: auto;
                    height: 20vh;
                    background-color: rgba(0, 0, 0, 0.4);
                    text-align: center;
                    h2{
                        color: white;
                        font-size: $fs-seis;
                        padding: 0.3rem;
                    }
                    p{
                        color: black;
                        font-size: $fs-tres;
                        font-weight: $fw-600;
                    }
                }
            }
        }
    }
}

.body-over{
    overflow-x: hidden;
}

.mtop-portfolio{
    margin-top: 5rem;
}

.bg-nav{
    background-color: $grey;
}

.art-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title-tr{
    color: $grey;
    font-size: $fs-ocho;
    text-align: center;
    transform: translatex(-405px);
}

//servicios

main{
    h1{
        font-size: $fs-ocho;
        color: $grey;
    }
    article{
        margin-left: $m-2;
        margin-right: $m-2;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

.p-dos{
    padding: $p-2;
}

.p-serv{
    text-align: center;
    font-size: $fs-cinco;
    padding: $p-1;
}

.serv-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.moov-card:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 1s;
}

.itemFoto{
    text-align: left;
    font-size: $fs-siete;
    font-weight: 600;
    padding: 1rem;
}

.itemParrafo{
    text-align: left;
    font-size: $fs-cinco;
    font-weight: 400;
    padding: 1rem;
    margin: 0 1rem;
}

//contacto
main{
    section{
        form{
            background-color: $white;
            border: solid;
            border-radius: 0.3rem;
            border-width: 0,5rem;
            padding: 2rem;
            margin: 3rem;
            width: 70%;
            font-size: 1.5rem;
            div{
                label{
                    color: $black;
                }
                div{
                    color: $black;
                }
            }
        }
    }
}
form{
    button{
        margin: $m-1;
    }
}

.contacto-size{
    font-size: $fs-tres;
}
