@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&family=Raleway:wght@400;500;600&display=swap');
//seteo del font size del html 1em=10px//

html{
    font-size: 62.5%;
}

$main-font: 'Raleway', sans-serif;
$sec-font: 'Merriweather Sans', sans-serif;


//font-size//
$fs-tres: 1.3rem;
$fs-cinco: 1.5rem;
$fs-seis: 1.6rem;
$fs-siete: 1.7rem;
$fs-ocho: 1.8rem;
$fs-dos: 2rem;

//font-weight//
$fw-400: 400;
$fw-600: 600;
$fw-500: 500;


